# Dependencies
node_modules/
.expo/
dist/
build/

# Environment files (NE JAMAIS committer !)
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Firebase
serviceAccountKey.json
firebase-credentials.json

# Tests
coverage/
